<div class="lists-container w-full h-full flex flex-col p-4 box-border">
	<mat-tab-group>
		<mat-tab label="Movies">
			<div class="mt-4">
				<!-- status lists -->
				<mat-accordion [displayMode]="'flat'" [multi]="true">
					@for (list of mvStatusLists(); track list.name) {
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title>{{
									list.name
								}}</mat-panel-title>
								<mat-panel-description> </mat-panel-description>
							</mat-expansion-panel-header>

							<div
								class="flex flex-row flex-wrap box-border gap-8 mx-8 items-stretch"
							>
								@for (movie of list.items; track movie.name) {
									<div class="w-64 flex flex-col gap-4">
										<img
											class="w-full rounded-md"
											[src]="
												TMDB_IMAGE_W500_BASE_URL +
												movie.poster_path
											"
											alt="Cannot load image"
											loading="lazy"
										/>
										<span class="text-lg">{{
											movie.name
										}}</span>
									</div>
								}
							</div>
						</mat-expansion-panel>
					}
				</mat-accordion>
				<!-- custom lists  -->
				<mat-accordion [displayMode]="'flat'" [multi]="true">
					@for (list of mvCustomLists(); track list.name) {
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title>{{
									list.name
								}}</mat-panel-title>
								<mat-panel-description> </mat-panel-description>
							</mat-expansion-panel-header>

							<div
								class="flex flex-row flex-wrap box-border gap-8 mx-8 items-stretch"
							>
								@for (movie of list.items; track movie.name) {
									<div class="w-64 flex flex-col gap-4">
										<img
											class="w-full rounded-md"
											[src]="
												TMDB_IMAGE_W500_BASE_URL +
												movie.poster_path
											"
											alt="Cannot load image"
											loading="lazy"
										/>
										<span class="text-lg">{{
											movie.name
										}}</span>
									</div>
								}
							</div>
						</mat-expansion-panel>
					}
				</mat-accordion>
			</div>
		</mat-tab>
		<mat-tab label="TV Shows">
			<div class="mt-4">
				<!-- status lists -->
				<mat-accordion [displayMode]="'flat'" [multi]="true">
					@for (list of tvStatusLists(); track list.name) {
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title>{{
									list.name
								}}</mat-panel-title>
								<mat-panel-description> </mat-panel-description>
							</mat-expansion-panel-header>

							<div
								class="flex flex-row flex-wrap box-border gap-8 mx-8 items-stretch"
							>
								@for (tvShow of list.items; track tvShow.name) {
									<div class="w-64 flex flex-col gap-4">
										<img
											class="w-full rounded-md"
											[src]="
												TMDB_IMAGE_W500_BASE_URL +
												tvShow.poster_path
											"
											alt="Cannot load image"
											loading="lazy"
										/>
										<span class="text-lg">{{
											tvShow.name
										}}</span>
									</div>
								}
							</div>
						</mat-expansion-panel>
					}
				</mat-accordion>
				<!-- custom lists -->
				<mat-accordion [displayMode]="'flat'" [multi]="true">
					@for (list of tvStatusLists(); track list.name) {
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title>{{
									list.name
								}}</mat-panel-title>
								<mat-panel-description> </mat-panel-description>
							</mat-expansion-panel-header>

							<div
								class="flex flex-row flex-wrap box-border gap-8 mx-8 items-stretch"
							>
								@for (tvShow of list.items; track tvShow.name) {
									<div class="w-64 flex flex-col gap-4">
										<img
											class="w-full rounded-md"
											[src]="
												TMDB_IMAGE_W500_BASE_URL +
												tvShow.poster_path
											"
											alt="Cannot load image"
											loading="lazy"
										/>
										<span class="text-lg">{{
											tvShow.name
										}}</span>
									</div>
								}
							</div>
						</mat-expansion-panel>
					}
				</mat-accordion>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
