:host {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	width: 100%;

	.banner-backdrop {
		mask-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.2),
			rgba(0, 0, 0, 0.2)
		);
	}

	overflow-x: hidden;
}

::ng-deep .custom-select-panel {
	box-sizing: border-box;
	min-height: 316px;
}
